# No log files
*.log

#IntelliJ stuff
.idea/
*.iml

# VS Code stuff
.settings
.project
.classpath
bin

# Gradle Cache directory
.gradle

# Build Directories
build/

# Plugin builds
out

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
.vscode
gradle-analytics-build-user.json
